<div style="padding: 1% 2%">
  <form [formGroup]="contactFormGroup" class="contact-form" #myForm="ngForm"
    (ngSubmit)="onSubmit()">

    <div fxLayout="row" fxLayout.xs="column">
      <mat-form-field fxFlex="0 0 50%">
        <input matInput placeholder="First name" formControlName="nameFirst">
        <mat-error *ngIf="this.contactFormGroup.get('nameFirst').hasError('required')">
          First Name is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field fxFlex="0 0 50%">
        <input matInput placeholder="Last name" formControlName="nameLast">
      </mat-form-field>
    </div>

    <mat-form-field class="full-width">
      <input matInput placeholder="Phone Number" formControlName="phoneNumber">
      <mat-error *ngIf="this.contactFormGroup.get('phoneNumber').hasError('required')">
        Phone Number is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="this.contactFormGroup.get('phoneNumber').hasError('pattern')">
        Please enter valid number
      </mat-error>
    </mat-form-field>

    <form formGroupName="address" class="contact-form">
      <mat-form-field class="full-width">
        <input matInput placeholder="Address" formControlName="street" />
      </mat-form-field>
      <div fxLayout="row" fxLayout.xs="column">
        <mat-form-field fxFlex="0 0 50%">
          <input matInput placeholder="City" formControlName="city">
        </mat-form-field>
        <mat-form-field fxFlex="0 0 30%">
          <input matInput placeholder="State" formControlName="state">
        </mat-form-field>
        <mat-form-field fxFlex="0 0 20%">
          <input matInput #postalCode maxlength="5" placeholder="Zip Code"
            formControlName="zipCode">
          <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
        </mat-form-field>
      </div>
    </form>

    <button mat-flat-button type="submit" [disabled]="!contactFormGroup.valid">
      Submit
    </button>
    &nbsp;
    <button mat-flat-button color="primary" type="button" (click)="goBack()">Cancel</button>
  </form>
</div>
