<div class="header">
  <h2 mat-dialog-title>Delete contact</h2>
  <mat-dialog-content>Are you sure you want to delete?</mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close>No</button>
    <button mat-button [mat-dialog-close]='true'>Yes</button>
  </mat-dialog-actions>
</div>
