<div class="mat-app-background">
  <mat-toolbar color="primary">
    <h1>Address Book</h1>
    <span class="spacer"></span>
    <mat-icon svgIcon="list" class="icon" a routerLink="contacts">List</mat-icon>
    <mat-icon svgIcon="add" class="icon" (click)="routeToAdd()">Add
    </mat-icon>
  </mat-toolbar>
  <router-outlet></router-outlet>
  <app-messages></app-messages>
</div>
