/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body { 
  margin: 0;
}

.full-width {
  width: 100%;
}

div.centered-wrapper {
  text-align: center;
}

div.centered-wrapper .centered {
  display: inline-block;
}

.left-text {
  text-align: left;
}

.spacer{
  flex: 1 1 auto;
}

.padded {
  padding: 5%;
}

.icon{
  padding: 0 10px;
  cursor: pointer;
}

.card-margin{
  margin-top: 10px;
  margin-bottom: 10px;
}
